@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
	-webkit-tap-highlight-color: transparent;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.react-dadata__suggestions {
	color: #121212;
}
.order-link {
	padding: 5px 15px;
	border: 1px solid rgba(0, 0, 0, 0.64);
	color: rgba(0, 0, 0, 0.75);
	border-radius: 8px;
}

.success-v {
	mix-blend-mode: multiply;
}
.load-order {
	mix-blend-mode: multiply;
}
